header {
    background-color: #264653;
    

}




.modal-content{
    width: 250px;
    height: 250px;
}

.gray{
    filter: grayscale(100);
}

.center{
    display: flex;
    justify-content: center;

    
}